<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title </title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/ng-grid/ng-grid.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/AdminLTE/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/skins/_all-skins.min.css" rel="stylesheet" />
    <link href="~/Content/AdminLTE/CustomTheme.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.2.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script src="~/Scripts/AdminLTE/app.min.js"></script>

    <script src="~/Scripts/AdminLTE/dashboard.js"></script>
    <script src="~/Scripts/AdminLTE/demo.js"></script>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>

    <script src="~/Scripts/ng-grid/ng-grid.debug.js"></script>
    <script src="~/Scripts/ng-grid/ng-grid-layout.js"></script>
    <script src="~/Scripts/_global.js"></script>
    <style>
    </style>
</head>

<body class="skin-blue sidebar-mini wysihtml5-supported">
    <div id="loader" class="se-pre-con"></div>
    <input type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["WebApiPath"].ToString()" id="hdnApiPath">
    <input type="hidden" value="@System.Configuration.ConfigurationManager.AppSettings["WebPath"].ToString()" id="hdnPath">
    <div id="warning">
    </div>
    @Html.Partial("_MenuNavigation")

    <div class="content-wrapper" style="min-height: 916px;">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="row titleHeader">


                <div class="col-lg-12">
                    <div class="col-md-12">
                        <div class="col-md-8">
                            <h4>
                                @ViewBag.Title
                            </h4>
                        </div>
                        <div class="col-md-4">

                            <div class="btn-group inline pull-right">
                                @*<button type="button" class="btn btn-success" id="btnAdd">Add</button>*@
                                @*<div class="col-md-3"><button type="button" class="btn btn-info" id="btnEdit">Edit</button></div>
                                    <div class="col-md-3"><button type="button" class="btn btn-danger" id="btnDelete">Delete</button></div>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            @RenderBody()

            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

</body>
@RenderSection("featured", required: false)
</html>

<script>
    var apiPath = $('#hdnApiPath').val();
    var webPath = $('#hdnPath').val();
    $(document).ready(function () {
        RecordCreatedSuccess = '@InventoryManagement.BAL.Common.CommonFunctions.RecordCreatedSuccess'
        RecordCreatedFail = '@InventoryManagement.BAL.Common.CommonFunctions.RecordCreatedFail'
        RecordUpdateSuccess = '@InventoryManagement.BAL.Common.CommonFunctions.RecordUpdateSuccess'
        RecordUpdateFail = '@InventoryManagement.BAL.Common.CommonFunctions.RecordUpdateFail'
        RecordDeletedSuccess = '@InventoryManagement.BAL.Common.CommonFunctions.RecordDeletedSuccess'
        RecordDeletedFail = '@InventoryManagement.BAL.Common.CommonFunctions.RecordDeletedFail'
        RecordExist = '@InventoryManagement.BAL.Common.CommonFunctions.RecordExist'
    });
</script>